body {
  background-color: $warning;
}

.show {
  width: 30% !important;
  transition: width 0.5s ease-in-out;
}

header {
  position: relative;
  .mobile-wrapper {
    position: absolute;
    right: 0;
    background-color: $dark;
    width: 0;
    transition: width 0.5s ease-in-out;
    height: 100vmin;
    text-align: center;
    li {
      a {
        color: $light;
      }
    }
  }
}

#form {
  width: 100%;
  max-width: 568px;
  margin: 0 auto;
}
